<html>
    <head>
        <title>HPG Uplink</title>
    </head>
    <body>
      <div>Feeds</div>
      <div>
          <!-- TODO: this presentation needs to be fixed
                the description key is pretty variable, can contain HTML and gets gnarly when it's long -->
        <ul>
          {% for feed in feeds %}
            <li>
                <!-- FEED START -->
                <div>{{ feed.key.name }}</div>
                <ul>
                    {% for feedItem in feed.value.items %}
                    <!-- FEED ITEM START -->
                    <li>
                        <!-- FEED ITEM TITLE -->
                        <div><a href="{{feedItem.link}}">{{ feedItem.title }}</a> - published on {{feedItem.published.orElse("(no date available)")}}</div>
                        <!-- FEED ITEM DESCRIPTION -->
                        <ul>
                            <li>
                            <div>{{ feedItem.description | trim | raw  }}</div>
                            </li>
                        </ul>
                        <!-- END FEED ITEM DESCRIPTION -->
                    </li>
                    <!-- END FEED ITEM -->
                    {% endfor %}
                </ul>
                <!-- END FEED -->
            </li>
          {% endfor %}
        </ul>
      </div>
    </body>
</html>