<html>
    <head>
        <title>HPG Uplink</title>
    </head>
    <body>
      <div>Feeds</div>
      <div>
          <!-- TODO: this presentation needs to be fixed
                the description key is pretty variable, can contain HTML and gets gnarly when it's long -->
        <ul>
          {% for feed in feeds %}
            <li>
                {{ feed.key.name }}
                <ul>
                    {% for feedItem in feed.value.items %}
                    <li><a href="{{feedItem.uri}}">{{ feedItem.title }}</a> - {{ feedItem.description }}</li>
                    {% endfor %}
                </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </body>
</html>